[Unit]
After=arangodb3.service
Description=Topsocial Telegram Service

[Service]
Type=idle
User=tscl
ExecStart=/usr/bin/python3.6 -m core.telegram_top_social
WorkingDirectory=/home/tscl/gopath/src/topsocial/src/

[Install]
WantedBy=multi-user.target


