<b>{{ .Message }}</b>

<div id="grid">
	<div id="posts">
		<div class="post">
			<img src="/public/images/parade_gallery2_9-600x436.jpg">
			<div class="post-cnt">
				<h2>Title Goes Here</h2>
				<div class="post-icon"><span class="topsocial-icons tsglyph_ic_camera"></span></div>
				<p>

				</p>
				<div class="post-hashtags">

				</div>
				<div class="over-hid">
					<small class="pull-left">دو روز پیش</small>
					<a href="#" class="post-detail-link btn btn-default btn-xs pull-right">
						مشاهده
					</a>
				</div>

			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post cs2">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post cs2">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post cs2">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="/public/images/parade_gallery2_9-600x436.jpg"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
		</div>
	</div>
</div>