{{define "title"}}{{ T "generaltitle" }}{{end}}
{{define "head"}}
    <meta name="google-site-verification" content="_lUyjgG4GvCWW3XN-l-3Mh6G_sACyRKtA4zYQkHD47Y" />
{{end}}
{{define "content"}}
<b>{{ .Message }}</b>

<div class="row">
    <div class="col-sm-12 col-xs-12 bg-white border-bot-red-5 border-red border-bot-5">
         <div class="col-sm-2 col-xs-8 col-xs-offset-2 col-sm-offset-5">
            <img src='{{ABSURL "/image/topsocial-logo_main.png" }}' class="full-w">
        </div>
    </div>

	<div class="col-sm-12 col-xs-12 no-pad">
		    <section id="home_banner" class="photostack border-bot-5 border-red">
                <div>
                    {{range $n := .bannerposts}}
                        <figure>
                            <a href="{{ URL_PostDetail .Key .Seo_Dashed_Url }}" class="photostack-img">
                                <img src="{{ABSURL .Thumbnail.Image_Url }}" alt="{{.Title}}" class="full-w"/>
                            </a>
                            <figcaption>
                                <h2 class="photostack-title rtl">{{.Title}}</h2>
                                <div class="photostack-back">
                                    <p class="rtl text-center">
                                        {{ABSTRACT .Body 100}}
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    {{end}}
                </div>
            </section>
			<!--<section id="photostack-3" class="photostack">-->
				<!--<div>-->
					<!--<figure>-->
						<!--<a href="http://goo.gl/NJ1Dhf" class="photostack-img"><img src="img/5.jpg" alt="img05"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Speed Racer</h2>-->
							<!--<div class="photostack-back">-->
								<!--<p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>-->
							<!--</div>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure>-->
						<!--<a href="http://goo.gl/fhwlSP" class="photostack-img"><img src="img/2.jpg" alt="img02"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Happy Days</h2>-->
							<!--<div class="photostack-back">-->
								<!--<p>These Happy Days are yours and mine Happy Days. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine?</p>-->
							<!--</div>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure>-->
						<!--<a href="http://goo.gl/Jmvr4u" class="photostack-img"><img src="img/3.jpg" alt="img03"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Beautywood</h2>-->
							<!--<div class="photostack-back">-->
								<!--<p>It's a neighborly day in this beautywood a neighborly day for a beauty. Would you be mine? Could you be mine. Now the world don't move to the beat of just one drum.</p>-->
							<!--</div>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure>-->
						<!--<a href="http://goo.gl/Qw3ND4" class="photostack-img"><img src="img/1.jpg" alt="img01"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Serenity Beach</h2>-->
							<!--<div class="photostack-back">-->
								<!--<p>I have never been to a place so serene in my entire life before. Swimming in clear waters opened my mind to nature and reminded me of my and <span>eveybody</span> everybody else's mortality.</p>-->
							<!--</div>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure>-->
						<!--<a href="http://goo.gl/49lN3k" class="photostack-img"><img src="img/4.jpg" alt="img04"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Heaven of time</h2>-->
							<!--<div class="photostack-back">-->
								<!--<p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>-->
							<!--</div>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure>-->
						<!--<a href="http://goo.gl/Ms7VDl" class="photostack-img"><img src="img/6.jpg" alt="img06"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Forever this</h2>-->
							<!--<div class="photostack-back">-->
								<!--<p>Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole lotta tryin' just to get up that hill. Baby if you've ever wondered - wondered whatever became of me. </p>-->
							<!--</div>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure>-->
						<!--<a href="#" class="photostack-img"><img src="img/7.jpg" alt="img07"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Lovely Green</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure>-->
						<!--<a href="#" class="photostack-img"><img src="img/8.jpg" alt="img08"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Wonderful</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/9.jpg" alt="img09"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Love Addict</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/10.jpg" alt="img10"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Friendship</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/11.jpg" alt="img11"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">White Nights</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/12.jpg" alt="img12"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Serendipity</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/13.jpg" alt="img13"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Pure Soul</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/14.jpg" alt="img14"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Winds of Peace</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/15.jpg" alt="img15"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Shades of blue</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
					<!--<figure data-dummy>-->
						<!--<a href="#" class="photostack-img"><img src="img/16.jpg" alt="img16"/></a>-->
						<!--<figcaption>-->
							<!--<h2 class="photostack-title">Lightness</h2>-->
						<!--</figcaption>-->
					<!--</figure>-->
				<!--</div>-->
			<!--</section>-->
			<!--<section class="description">-->
				<!--<p>Photos by <a href="http://www.flickr.com/photos/rnugraha/">Riza Nugraha</a>, licensed under <a href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons Attribution 2.0 Generic (CC BY 2.0)</a></p>-->
			<!--</section>-->
			<!--<section class="related">-->
				<!--<h3>If you enjoyed this demo you might also like:</h3>-->
				<!--<a href="http://tympanus.net/Development/ElasticStack/">-->
					<!--<img src="http://codropspz.tympanus.netdna-cdn.com/codrops/wp-content/uploads/2013/11/ElastiStackMain-300x162.jpg" />-->
					<!--<h3>Elastic Stack</h3>-->
				<!--</a>-->
				<!--<a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">-->
					<!--<img src="http://codropspz.tympanus.netdna-cdn.com/codrops/wp-content/uploads/2013/03/ThumbnailGridExpandingPreview-300x162.jpg" />-->
					<!--<h3>Expanding Thumbnail Grid</h3>-->
				<!--</a>-->

			<!--</section>-->
	</div>
</div>
<div class="row row-eq-height bg-light-grey">
	<div class="col-sm-7 mrg-top-bot-15">
        <div id="lastImagesCarousel" class="carousel slide bootstrap-carousel bootstrap-carousel-lazy vertical " data-url-firstpage="{{ URL_RecentPostList 1 1 1 }}" >
            <a class="carousel-control top" href="#lastImagesCarousel" data-slide="next">▴</a>
            <div class="carousel-inner bg-white border-light-grey" >
                {{/*}}
              <!--<div class="active item" data-url="{{ URL_RecentPostList .Media_Type .page }}" data-slide-number="0">-->

              <!--</div>-->
              <!--<div class="item" data-url="/render/62806">-->

              <!--</div>-->
              <!--<div class="item" data-url="/render/62807">-->

              <!--</div>-->
                {{*/}}
            </div>
            <a class="carousel-control bottom" href="#lastImagesCarousel" data-slide="prev">▾</a>

        </div>


	</div>
	<div class="col-sm-5 mrg-top-bot-15 ">
        <div class="row">
            <div class="col-sm-12  mrg-top-bot-15">
                <!--<div class="lazy-load text-center bg-white border-light-grey pad-top-bot-15 pad-r8-lf-15" data-url="{{ URL_RecentHashtagsList 1 1 }}">-->

                <!--</div>-->
                <div class="text-center bg-white border-light-grey pad-top-bot-15 pad-r8-lf-15">
                     {{range $n := .popularhashtags}}
                        <a href='{{ URL_PostList "recent" .Hashtag 1 }}' class="hashtag">
                            {{.Hashtag}}
                        </a>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="lastVideosCarousel" class="carousel bootstrap-carousel bootstrap-carousel-lazy" data-url-firstpage="{{ URL_RecentPostList 1 3 1 }}" >
                    <div class="carousel-inner bg-white border-light-grey " >

                    </div>
                    <a class="carousel-control left" href="#lastVideosCarousel" data-slide="prev">◂</a>
                    <a class="carousel-control right" href="#lastVideosCarousel" data-slide="next">▸</a>
                </div>
            </div>
        </div>
	</div>
</div>

<!--<div class="container">-->
	<!--<div class="page-header">-->
		<!--<h1>{{template "title" .}}</h1>-->
	<!--</div>-->
	<!--<p>Click {{LINK "login" "here"}} to login.</p>-->
	<!--{{template "footer" .}}-->
<!--</div>-->
{{end}}
{{define "scripts"}}
<script>
$(document).ready(function(){

			// [].slice.call( document.querySelectorAll( '.photostack' ) ).forEach( function( el ) { new Photostack( el ); } );


			new Photostack( document.getElementById( 'home_banner' ), {
				callback : function( item ) {
					//console.log(item)
				}
			} );
			$("#home_banner figure").click(function(){
			    var index = $(this).index();
			    $(this).parents('.photostack').find('nav span:eq('+index+')').click();
			});
			setInterval(function(){
                if(!$("#home_banner").is(":hover")){
                    var currentNav = $("#home_banner").find("nav .current");
                    if(!currentNav.is(":last-child")) {
                        currentNav.next().click();
                    } else {
                        $("#home_banner nav").find(":first-child").click();
                    }
                }

            },5000);
})




		</script>
{{end}}
{{define "foot"}}{{end}}